<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2196F3;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #FFEB3B;"><i class="bi bi-gear-fill"></i> Smart house</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/appareils" style="color: #FFEB3B;"><i class="bi bi-phone"></i> Appareils</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories" style="color: #FFEB3B;"><i class="bi bi-justify"></i> Categories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
